<div class="container mt-4">
	<div class="card mb-3">
		<div class="card-header">
			<h3>Cree su cuenta</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<form method="POST" action="/createUser">
						<div class="form-group">
							<label for="name">Nombre</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre">
						</div>
						<div class="form-group">
							<label for="email">Correo</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo">
						</div>
						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
						</div>
						<div class="text-center mt-5">
							<button type="submit" class="btn btn-primary">Registrarse</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>